@import url('./content.css');
@import url('./header.css');
@import url('./main.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    font-style: normal;
    font-style: swap;

    src: url('../font/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-Medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;

    src: url('../font/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-weight: 700;
    font-style: normal;
    font-display: swap;

    src: url('../font/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Black';
    font-weight: 900;
    font-style: normal;
    font-display: swap;

    src: url('../font/Poppins-Black.ttf');
}

:root {
    --white: #F9F9F9;

    --green: #628E75;
    --green-dark: #658E76;
    --green-gradient: #49766A;

}

:root {
    --gradient-default: linear-gradient(270deg, #1A4855 0%, #628E75 100%);
}

:root {
    --icon-color-fcbk: #5889ec;
    --icon-color-inst: #F77737;
    --icon-color-twtr: #1DA1F2;
    --icon-color-yutb: #FF0000;
}

main {
    color: var(--white);
}